{% extends 'layout.html'%}
{% block body %}

<meta charset="utf-10">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"      integrity="sha384-UHRtZLI         +pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"          crossorigin="anonymous">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
<center><br>
	
<img src="{{url_for('static',filename='img/about.jpg')}}" class="ml-5 mr-5 mx-1"></center>
<body style="background-image: url({{url_for('static',filename='img/cc.jpeg')}});">
<h2><b><p>
The grandeur and success of a marriage is largely dependent on the marriage venue, its location, decor and facilities. The Kuber Empire, located very close to prime destinations in Sangamner. Offers just the right marriage venue for a memorable marriage celebration. The lawns has more than one marriage hall to choose from depending on your needs and number of guests. The landscaped marriage lawns in our Sangamner are picturesque and add to the magnificence of your marriage. You can also simply organize a pre-wedding party for close friends and family. Use our Swapna green Lawns and amaze every one.<br></p>
<p>
Kuber Empire aspires to be a leader in the field of hospitality by combining creativity, innovation, sincerity, hard work and dedication. Marriage Lawn being the event planner as a link between its customers as guests and host to deliver remarkable quality ensuring optimum value for money.</b>
</h2></p>
</b></h2></body>
{% endblock body %}