{% extends 'layout.html' %}
{% block body %}

<meta charset="utf-10">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"      integrity="sha384-UHRtZLI         +pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"          crossorigin="anonymous">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    
<h1 style="color: white"><center><b><u>FEATURES</u></b></center></h1>
 <body class="masthead" style="background-image: url({{url_for('static',filename='img/tem.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            
          </div>
        </div>
      </div>
    </div>  
<h5 style="font-size: 21px;color: white"><b>#	Kuber Empire is the famous in city for their royal amenities. You will get following amenities with Kuber Empire.<br><br>

# 	Large Parking area for 2 Wheelers & 4 Wheelers.<br><br>

 #	4 Ac & 3 Non Ac Rooms.<br><br>

# 	Beautiful large decorative marriage hall.<br><br>

#	 Big size dining hall with multiple wash tap.<br><br>

#	 Beautiful indoor temple.<br><br>

#	 Light backup.<br><br>
</b>
</h5>
<br>
</body>
{% endblock body %}
