{% extends 'layout.html' %}
{% block body %}
<meta charset="utf-10">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"      integrity="sha384-UHRtZLI         +pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"          crossorigin="anonymous">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
<body style="background-image: url({{url_for('static',filename='img/slide-2.jpg')}});">
	<center><h2 style="font-size: 40px; color: white"><u>FOOD</u></h2 >
   <h6 style="font-size: 10px; color: white">menus are fix</h6></center>
<table class="mb-3">
<tr>
<td id="id">
<img src="{{url_for('static',filename='img/5ab6b1c8dc67b6f91ed1e915be6c5d37.jpg')}}" height=350px width=450px>
<p id="id" class="info"><u><h2 id="id" style="font-size: 40px;color: white"><b>ENGAGEMENT MENU</b></h2></u></p><p  id="id"class="price">
<h3 style="font-size: 30px; color: white"><b>1,00,000 RS</b></h3></p>
<h3 id="id"  style="font-size: 30px; color: white">Packege for 1000 peoples. 
</td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<td id="id">
<img src="{{url_for('static',filename='img/2.jpg')}}"  height=350px width=400px>
<p id="id" class="info"><u><h2 id="id" style="font-size: 40px; color:white"><b>HALDI MENU</b></h2></u></p><p id="id" class="price" ><h3 style="font-size: 30px; color: white"><b>50,000 RS</b></h3></p>
<h3 id="id" style="font-size: 30px; color: white">Packege for 150 peoples.</h3></td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<td id="id">
<img src="{{url_for('static',filename='img/images.jpg')}}" height=350px width=450px>
<p id="id3" class="info" ><u><h2 id="id3" style="font-size: 40px; color:white"><b>MARRIAGE MENU</b></h2></u> </p><p id="id" class="price">
  <h3 style="font-size: 30px; color:white"><b>1,50,000 RS</b></h3></p>
  <h3 id="id3" style="font-size: 30px; color: white">Packege for 2000 peoples.</h3></td></tr>
<!--<td><br><br>-->

<!--<hr color="black"><hr color="black"><hr color="black"></div>-->
</table>

{% endblock body %}





